@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

$primary: #3d7562;
$secondary: #e5b95e;
$accent: #b7875e;
$dark: #222222;
$light: #e9e9e9;
$text: #666666;

nav {
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,.25);
    
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: auto;
        max-width: 1140px;
        margin: 0 auto;

        .logo-container {
            .logo {
                width: 130px;
                
                img {
                    width: 100%;
                }
            }
        }
    
        .menu-container {
            .menu {
                ul {
                    display: flex;
                    list-style: none;

                    li {
                        padding: 0px 5px;
                        font-weight: 600;

                        a {
                            color: $dark;
                            transition: 0.3 all ease-in-out;
                            border: 2px solid;
                            border-color: transparent;

                            &:hover, &:active {
                                color: #e5b95e;
                                border-bottom-color: $primary;
                            }
                        }
                    }
                }
            }
        }
    
        .icon-container {
            .social-icons {
                ul {
                    display: flex;
                    list-style: none;
    
                    li {
                        padding: 0px 3px;

                        a {

                            &:hover {
                                img {
                                    transform: scale(0.4);
                                }
                            }

                            img {
                                transition: 0.3s all ease-in-out;
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    
}

header {
    width: 100%;
    height: 500px;
    background: url('../images/Backgrounds/background15.png');

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: 100%;
        max-width: 1140px;
        margin: 0 auto;

        .text-area {
            h1 {
                font-size: 3rem;
                width: 70%;
                font-weight: 800;
                color: $primary;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                width: 70%;
                color: $text;
                margin-bottom: 20px;
            }

            a {
                background: $accent;
                padding: 10px 20px;
                color: #fff;
                border-radius: 25px;
                display: block;
                width: 140px;
                transition: 0.4s all ease-in-out;

                &:hover {
                    background: $dark;
                }
            }
        }

        .image-area {
            img {
                width: 450px;
            }
        }
    }
}

main {
    section {
        &#offers {
            width:100%;
            height: auto;
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                // height: 100%;
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px 0px;

                .content {
                    .section-heading {
                        width: 100%;
                        text-align: center;

                        h2 {
                            color: $primary;
                            font-size: 30px;
                            margin-bottom: 20px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: $accent;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        text-align: center;
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: $text;
                        }
                    }

                    .tab-content {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;

                        .left-side {
                            width: 50%;
                            height: 100%;
                            
                            .image-container {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 70%;
                                    text-align: center;
                                }
                            }

                            
                        }

                        .right-side {
                            width: 50%;
                            height: 100%;

                            .tab-container {
                                height: 100%;
                                width: 100%;
                                padding: 50px 20px;

                                .radio-tabs {
                                    text-align: center;

                                    label {
                                        height: 100%;
                                        background: none;
                                        font-weight: 600;
                                        color: $dark;
                                        padding: 10px;
                                        width: calc(90% / 3);
                                        display: inline-block;
                                        position: relative;
                                        cursor: pointer;
                                        transition: 0.2s all ease-in-out;

                                        &:first-child {
                                            border-bottom: 2px solid $secondary;
                                        }

                                        &:hover {
                                            background: $secondary;
                                            color: #fff;
                                        }

                                        input {
                                            display: none;
                                        }
                                    }
                                }

                                .radio-tab-content {
                                    width: 90%;
                                    margin: 30px auto;

                                    h4 {
                                        font-size: 18px;
                                        margin-bottom: 5px;
                                        color: $primary;
                                    }

                                    p {
                                        font-size: 14px;
                                        color: $text;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &#fullmenu {
            width:100%;
            height: auto;
            background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/Backgrounds/background2.jpg");
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                height: 500px;
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px 0px;

                .content {
                    text-align: center;
                    .section-heading {
                        width: 100%;

                        h2 {
                            color: $secondary;
                            font-size: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: #fff;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: #fff;
                        }
                    }

                    a {
                        padding: 15px 25px;
                        font-weight: 600;
                        border: 1px solid white;
                        border-radius: 25px;
                        color: $dark;
                        transition: 0.3s all ease-in-out;
                        background: #fff;
                        cursor: pointer;
                        margin-top: 15px;
                        display: inline-block;
                        font-size: 14px;

                        &:hover {
                            background: $secondary;
                            color: #fff;
                            border-color: $secondary;
                        }
                    }
                }
            }
        }

        &#featured {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                height: 500px;
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px 0px;

                .content {
                    text-align: center;
                    .section-heading {
                        width: 100%;

                        h2 {
                            color: $primary;
                            font-size: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: $accent;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: $text;
                        }
                    }

                    .food-row {
                        width: 100%;
                        display: flex;

                        .food-columns {
                            width: calc(100% / 3);
                            padding: 10px;
                            
                            img {
                                width: 75%;
                                height: 170px;
                                margin: 5px auto;
                            }

                            h4 {
                                color: $primary;
                                font-size: 16px;
                            }

                            p {
                                color: $text;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        &#gallery {
            width: 100%;
            height: auto;

            .image-row {
                width: 100%;
                height: 300px;
                display: flex;

                .image-column {
                    width: calc(100% / 4);

                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }

        &#booktable {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                height: 350px;
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px 0px;

                .content {
                    text-align: center;
                    .section-heading {
                        width: 100%;

                        h2 {
                            color: $primary;
                            font-size: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: $accent;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: $text;
                        }
                    }

                    form {
                        width: 100%;
                        
                        .form-row {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .form-col {
                                margin: 5px;

                                input {
                                    padding: 10px 25px;
                                    font-size: 14px;
                                    color: $text;
                                    border: 1px solid $dark;

                                    &:focus, &:focus-visible {
                                        border-color: $primary;
                                    }
                                }
                            }

                            button {
                                margin: 30px auto;
                                padding: 10px 20px;
                                border: 1px solid $primary;
                                background: $primary;
                                color: #fff;
                                transition: 0.3s all ease-in-out;
                                border-radius: 25px;
                                cursor: pointer;

                                &:hover {
                                    background: $secondary;
                                    border-color: $secondary;
                                }
                            }
                        }
                    }
                }
            }
        }

        &#banner {
            width:100%;
            height: auto;
            background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/Backgrounds/background2.jpg");
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                height: 350px;
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px 0px;

                .content {
                    text-align: center;
                    .section-heading {
                        width: 100%;

                        h2 {
                            color: $secondary;
                            font-size: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: #fff;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &#contact {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                // height: 350px;
                max-width: 1140px;
                margin: 0 auto;
                padding: 30px 0px;

                form {
                    width: 100%;
                    max-width: 425px;
                    
                    .form-row {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .form-col {
                            margin: 5px;

                            input {
                                padding: 10px 25px;
                                font-size: 14px;
                                color: $text;
                                border: 1px solid $dark;

                                &:focus, &:focus-visible {
                                    border-color: $primary;
                                }
                            }
                        }
                        textarea {
                            width: 100%;
                            resize: none;
                            padding: 15px 25px;
                        }

                        button {
                            margin: 30px auto;
                            padding: 10px 20px;
                            border: 1px solid $primary;
                            background: $primary;
                            color: #fff;
                            transition: 0.3s all ease-in-out;
                            border-radius: 25px;
                            cursor: pointer;

                            &:hover {
                                background: $secondary;
                                border-color: $secondary;
                            }
                        }
                    }
                }
            }
        }

        &#blog {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                max-width: 1140px;
                margin: 0 auto;
                padding: 30px 0px;

                .blog-inner {
                    width: 100%;

                    .blog-row {
                        width: 100%;
                        padding: 15px;
                        display: flex;
                        height: 100px;
                        align-items: center;
                        margin-bottom: 30px;
                        
                        a {
                            width: 50%;
                            border: 1px solid $light;
                            margin: 10px;
                            padding: 15px 10px;
                            transition: 0.3s all ease-in-out;
    
                            &:hover {
                                border-color: $dark;
                            }
                            
                            h4 {
                                font-size: 18px;
                                color: $primary;
                            }
    
                            p {
                                font-size: 14px;
                                color: $text;
                            }
                        }
                    }
                }
            }
        }

        &#menu {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                max-width: 1140px;
                margin: 0 auto;
                padding: 30px 0px;

                .blog-inner {
                    width: 100%;

                    .blog-row {
                        width: 100%;
                        padding: 0px ​15px;
                        display: flex;
                        // height: 100px;
                        align-items: center;
                        // margin: 15px 0px;
                        
                        a {
                            width: 50%;
                            border: 1px solid $light;
                            margin: 10px;
                            padding: 15px 10px;
                            transition: 0.3s all ease-in-out;
                            display: flex;
                            align-items: center;
    
                            &:hover {
                                border-color: $dark;
                            }
                            
                            img {
                                width: 30%;
                            }

                            span {
                                width: 70%;

                                h4 {
                                    font-size: 18px;
                                    color: $primary;
                                }
        
                                p {
                                    font-size: 14px;
                                    color: $text;
                                }
                            }
                        }
                    }
                }
            }
        }

        &#about {
            width:100%;
            height: auto;
            background:#fff;
            position: relative;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 100%;
                max-width: 1140px;
                margin: 0 auto;
                padding: 30px 0px;

                .content {
                    text-align: center;
                    .section-heading {
                        width: 100%;

                        h2 {
                            color: $primary;
                            font-size: 30px;
                            margin-bottom: 30px;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                background: $secondary;
                                width: 75px;
                                height: 3px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        
                        h4 {
                            color: $accent;
                            font-weight: 300;
                        }
                    }

                    .section-text {
                        width: 70%;
                        margin: 10px auto 20px auto;
                        
                        p {
                            font-size: 14px;
                            color: $text;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: $light;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 50px 0px;

        .footer-col {
            width: calc(100% / 3);
            height: 100%;

            img {
                width: 200px;
            }

            h4 {
                font-size: 18px;
                color: $primary;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                
                li {
                    width: 100%;

                    a {
                        color: $dark;

                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

#copy {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: $accent;
}